canvas {
	position:fixed;
	top:0;
	left:0;
	z-index:1;
	width: 100%;
	height: 100%;
}
#mainCanvas {
	position:relative;
	z-index:2;
	width: 100%;
	height: 100%;
}
body {
	width: 100%;
	height: 100%;
}
html {
	width: 100%;
	height: 100%;
}
#Leaderboard {
	position: fixed;
	top:10px;
	right: 10px;
	width:10%;
	height:25%;
	background: rgba(200,200,250,0.5);
	z-index: 2;
	background-opacity: 0.5;

}
#LeaderboardText {
	color : white;
	text-align: center;
	font-size: 150%;
}
div.overlay-container div.overlay-container-hidden{
	position: absolute;
	top:40%;
	width:100%;
	background-color: rgba(50, 50, 50, 0.5);
	z-index: 9999;
}
div.overlay-container div.overlay-container-hidden h1{
	position:relative;
	top:40%;
	left: 35%;
	color:red;
	font-family: 'Helvetica';
	font-size: 100px;
	font-weight:bold;
}
div.overlay-container-hidden{
	display: none;
}
canvas {
  image-rendering: optimizeSpeed;             /* Older versions of FF          */
  image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */     /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}
